.main {
    background-color: rgb(200, 204, 207);
    padding: 20px;
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
}

table {
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-collapse: collapse;
}
caption {
    font-style: italic;
    font-size: 30px;
}

th {
    height: 30px;
    border-right: 2px solid black;

}
.bottom {
    border-bottom: 2px solid black;
}
.average {
    border-bottom: 2px solid black;
}

td{
    text-align: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
